<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <title>{ifset #title}{include title|striptags|trim} | {/ifset}{$siteName}</title>

    {control css}
    <link rel="icon" href="{$basePath}/favicon.png">
    <meta name="author" content="xzurek13, xzabka02, xjamri01">
    {block head}{/block}
</head>

<body>
<div id="banner">
    <img src="{$baseUrl}/images/banner.jpg">

    <div class="overlay"></div>

    <div class="container">
        <div id="name">
            <img src="{$baseUrl}/images/logo.png">
        </div>
    </div>
</div>
{control menu}

<div class="container">
    {if $flashes}
        <div n:foreach="$flashes as $flash" id="flash-{$iterator->getCounter()}" class="alert alert-{$flash->type} alert-dismissable">
            {$flash->message}

            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
            </button>
        </div>
    {/if}

    <div id="content">
        {include content}
    </div>
</div>

<div id="footer">
    <div class="well">
        <div class="container">
            &copy; 2015 Patrícia Jamrišková xjamri01 | Michal Žabka xzabka02 | Adam Žurek xzurek13
        </div>
    </div>
</div>


<script n:syntax="double" n:if="$flashes">
    setTimeout(function () {
        for (i = 1; i <= {{count($flashes)}}; i++) {
            document.getElementById('flash-' + i).className += ' in';
        }
    }, 10);
</script>

{control js}
{block scripts}{/block}

</body>
</html>
