{block content}
    <h1>O nás</h1>
    <p>
        Vítejte na našich stránkach informačního systému školícího střediska pro předmět IIS.
    </p>

    <h2>Otevírací doba</h2>
    <ul>
        <li>Pondělí: 9:00 - 18:00</li>
        <li>Úterý: 9:00 - 18:00</li>
        <li>Středa: 9:00 - 18:00</li>
        <li>Čtvrtek: 9:00 - 18:00</li>
        <li>Pátek: 9:00 - 18:00</li>
    </ul>
    <h2>Kontakt</h2>
    <p>
        Kontakt: skolici@stredisko.org<br>
        Tel. číslo: +420 777 123 456
    </p>
{/block}
