{block content}
    <h1 n:block="title">Výpis kurzů</h1>

    <table n:if="$courses" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Název</th>
            <th>Úroveň</th>
            <th>Obtížnost</th>
            <th>Cena</th>
            <th>Popis</th>
            <th n:if="$user->isAllowed('Course', 'order')">
                {in_array('stredisko', $user->getRoles(), true) ? 'Vypsat kurz' : 'Objednat'}
            </th>
            <th n:if="$user->isAllowed('OrderedCourse', 'list')">Seznam termínů</th>
            <th n:if="$user->isAllowed('Course', 'edit')">Editace</th>
        </tr>
        </thead>
        <tbody>
        {foreach $courses as $course}
            <tr>
                <td>
                    <a n:href="Lecture:list, id => $course->id" title="Zobrazit seznam lekcí">{$course->nazev}</a>
                </td>
                <td>{$course->uroven}</td>
                <td>{$course->obtiznost}</td>
                <td class="price">{$course->cena|number:2:',':' '} Kč</td>
                <td>{$course->popis}</td>
                <td n:if="$user->isAllowed('Course', 'order')">
                    <a n:href="Course:order, id => $course->id">
                        {in_array('stredisko', $user->getRoles(), true) ? 'Vypsat' : 'Objednat'}
                    </a>
                </td>
                <td n:if="$user->isAllowed('OrderedCourse', 'list')">
                    {var orderedCourses = $course->related('objednane_kurzy')}
                    {php $user->isInRole('zamestnanec') ? $orderedCourses->where('vede', $user->getId()) : $orderedCourses->where('firma IS NULL OR firma', $user->getId())}
                    {if $orderedCourses->count('*') === 0}
                        {if $user->isAllowed('Course', 'order')}
                            <a n:href="Course:order, id => $course->id">
                                {in_array('stredisko', $user->getRoles(), true) ? 'Vypsat kurz' : 'Objednat'}
                            </a>
                        {else}
                            <i>Není vypsán žádný termín tohoto kurzu</i>
                        {/if}
                    {else}
                        <a n:href="OrderedCourse:list, id => $course->id">Seznam termínů</a>
                    {/if}
                </td>
                <td n:if="$user->isAllowed('Course', 'edit')">
                    <a n:href="Course:edit, id => $course->id">Editovat</a>
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
{/block}
