{block content}
    <h1 n:block="title">Seznam účastníků</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Jméno</th>
            <th>Adresa</th>
            <th>Aktivní</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        {foreach $attendees as $attendee}
            <tr>
                <td>{$attendee->jmeno}</td>
                <td>{$attendee->adresa}</td>
                <td><input type="checkbox" n:attr="checked => (bool)$attendee->aktivni" readonly disabled></td>
                <td>
                    {if $user->isAllowed('Attendee', 'edit')}
                        <a n:href="Attendee:edit, id => $attendee->rc">Editovat</a>
                    {/if}
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
{/block}
