{block content}
    <h1 n:block="title">Výpis lekcí z kurzu {$course->nazev}</h1>

    <table n:if="$lectures" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Název</th>
            <th>Popis</th>
            <th>Termín</th>
        </tr>
        </thead>
        <tbody>
        {foreach $lectures as $lecture}
            <tr>
                <td>{$lecture->nazev}</td>
                <td>{$lecture->popis}</td>
                <td>
                    {if !isset($o_lectures[$lecture->id])}
                        {if $user->isAllowed('OrderedLecture', 'order')}
                            <a n:href="OrderedLecture:order, id => $lecture->id, id_course => $o_course->id">
                                {in_array('stredisko', $user->getRoles(), true) ? 'Vypsat' : 'Objednat'}
                            </a>
                        {else}
                            Není objednána
                        {/if}
                    {else}
                        {$o_lectures[$lecture->id]->datum|date:'j. n. Y G:i'}
                    {/if}
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
{/block}
