{block menu}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="menu">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-hover="collapse" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                    <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{plink Homepage:default}"> <span class="glyphicon glyphicon-home"></span>
                    {$brand}
                </a>
            </div>

            <div id="navbar-main" class="navbar-collapse collapse">
                {include printMenu, menu => $menu}
                {include printMenu, menu => $right, class => 'navbar-right'}
            </div>
        </div>
    </div>
    {block submenu}
        <div n:if="!empty($submenu)" class="navbar navbar-default" role="navigation" id="submenu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-hover="collapse" data-toggle="collapse" data-target="#submenu">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </div>

                <div n:if="$menu" id="navbar-submenu" class="navbar-collapse collapse">
                    {include printMenu, menu => $submenu}
                </div>
            </div>
        </div>
    {/block submenu}
{/block menu}

{define printMenu}
    <ul n:class="nav, navbar-nav, !empty($class) ? $class" n:inner-foreach="$menu as $m">
        <li>
            {if $m->link}
                <a href="{$m->link}" n:class="$presenter->isLinkCurrent($m->link) ? active">
                    {if $m->icon}
                        <span class="glyphicon glyphicon-{$m->icon}"></span>
                    {/if}

                    {$m->text}
                </a>
            {else}
                <a>{$m->text}</a>
            {/if}
        </li>
        <li n:if="!$iterator->isLast()" role="separator" class="divider"></li>
    </ul>
{/define}
