{block content}
    <h1 n:block="title">Kurzy v místnosti {$room->adresa}</h1>

    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Název kurzu</th>
            <th>Lektor</th>
            <th>Termín 1. lekce</th>
            <th>Kapacita</th>
            <th n:if="$user->isAllowed('OrderedCourse', 'edit')">Editace</th>
            <th n:if="$user->isAllowed('Course', 'enroll')">Přihlásit se na kurz</th>
        </tr>
        </thead>
        <tbody n:inner-foreach="$room->related('objednane_kurzy') as $ordered_c" n:snippet="timetable">
        {foreach $ordered_c->related('objednane_lekce') as $ordered_l}
            <tr n:class="$ordered_c->kapacita < $room->kapacita ? success : danger">
                <td>
                    {$ordered_c->ref('provadene_kurzy', 'kurz')->nazev}
                </td>
                <td>{$ordered_c->ref('zamestnanec', 'vede')->jmeno}</td>
                <td>{$ordered_l->datum|date:'j. n. Y H:i:s'}</td>
                <td>
                    <span title="Kapacita kurzu">{$ordered_c->kapacita}</span>
                    /
                    <span title="Kapacita místnosti">{$room->kapacita}</span>
                </td>
                <td n:if="$user->isAllowed('OrderedCourse', 'edit')">
                    <a n:href="OrderedCourse:edit, id => $ordered_c->id">
                        Editovat
                    </a>
                </td>
                <td n:if="$user->isAllowed('Course', 'enroll')">
                    <a n:href="Course:enroll, id => $ordered_c->id">
                        <span class="glyphicon glyphicon-ok"></span>
                    </a>
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
{/block}
