{block content}
    <h1 n:block="title">Certifikovat účastníka kurzu {$course->nazev}</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Jméno</th>
                <th>Zaměstnanec</th>
                <th>Zobrazit certifikát</th>
            </tr>
        </thead>
        <tbody>
        {foreach $attendees as $attendee}
            <tr>
                <td>{$attendee->jmeno}</td>
                <td>
                    {var firma => $attendee->zamestnan ? $attendee->ref('firma', 'zamestnan') : null}
                    {if $firma}
                        {$firma->nazev}
                    {else}
                        <i>Nezaměstnán</i>
                    {/if}
                </td>
                <td>
                    <a n:href="printCertify, id => $course->id, id_attendee => $attendee->rc" target="_blank">
                        Zobrazit certifikát
                    </a>
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
{/block}
