{block content}<h1 n:block="title" xmlns:n="http://www.w3.org/1999/xhtml">Termíny konání kurzu {$course_c ? $course_c->nazev}</h1>
    <table n:if="$courses" class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Termíny lekcí</th>
            <th>Vede</th>
            <th>Místo konání</th>
            <th>Objednala firma</th>
            <th n:if="$user->isAllowed('OrderedCourse', 'enroll')">Přihlásit se</th>
            <th n:if="$user->isAllowed('OrderedCourse', 'edit')">Upravit</th>
            <th n:if="$user->isAllowed('OrderedLecture', 'list')">Seznam lekcí</th>
            <th n:if="$user->isAllowed('OrderedCourse', 'certify')">Certifikát</th>
            <th n:if="$user->isAllowed('OrderedCourse', 'listAttendees')">Účastníci</th>
        </tr>
        </thead>
        <tbody>
        {foreach $courses as $course}
            <tr>
                <td>
                    {var i => 0}
                    {foreach $course->related('objednane_lekce', 'kurz')->order('datum') as $l}
                        {php $i++}

                        <a n:href="OrderedLecture:edit, id => $l->id">
                            {$iterator->getCounter()}. {$l->datum}
                        </a>

                        {if !$iterator->isLast()}
                            <br>
                        {/if}
                    {/foreach}

                    {if $i === 0}
                        <i>Zatím žádné lekce</i>
                    {/if}
                </td>
                <td>{$course->ref('zamestnanec', 'vede')->jmeno}</td>
                <td>{$course->ref('mistnost', 'misto')->adresa}</td>
                <td>
                    {if $course->firma}
                        {$course->ref('firma')->nazev}
                    {else}
                        <i>Veřejné</i>
                    {/if}
                </td>
                <td n:if="$user->isAllowed('OrderedCourse', 'enroll')">
                    <a n:href="OrderedCourse:enroll, id => $course->id">Přihlásit se</a>
                </td>
                <td n:if="$user->isAllowed('OrderedCourse', 'edit')">
                    <a n:href="OrderedCourse:edit, id => $course->id">Upravit</a>
                </td>
                <td n:if="$user->isAllowed('OrderedLecture', 'list')">
                    <a n:href="OrderedLecture:list, id_course => $course->id">Seznam lekcí</a>
                </td>
                <td n:if="$user->isAllowed('OrderedCourse', 'certify')">
                    <a n:href="OrderedCourse:certify, id => $course->id">Certifikovat</a>
                </td>
                <td n:if="$user->isAllowed('OrderedCourse', 'listAttendees')">
                    <a n:href="OrderedCourse:listAttendees, id => $course->id">Účastníci</a>
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
{/block}
