{block content}
    <h1 n:block="title">Seznam účastníků {$course->nazev}</h1>

    <table n:if="attendees" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Jméno</th>
                <th n:if="$user->isAllowed('OrderedCourse', 'certify')">Certifikát</th>
            </tr>
        </thead>
        <tbody>
            {foreach $attendees as $attendee}
                <tr>
                    <td>{$attendee->jmeno}</td>
                    <td n:if="$user->isAllowed('OrderedCourse', 'certify')">
                        <a n:href="certify, id => $course->id">Certifikovat</a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
{/block}
