{block content}
    <h1 n:block="title">Objednané kurzy firmy {$company->nazev}</h1>

    <table n:if="$courses" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Název</th>
                <th>Lektor</th>
                <th>Místo konání</th>
                <th>Obsazeno</th>
            </tr>
        </thead>
        <tbody>
            {foreach $courses as $course}
                <tr>
                    <td>
                        <a n:href="OrderedLecture:list, id_course => $course->id" title="Zobrazit seznam lekcí">
                            {$course->ref('provadene_kurzy', 'kurz')->nazev}
                        </a>
                    </td>
                    <td>{$course->ref('zamestnanec', 'vede')->jmeno}</td>
                    <td>{$course->ref('mistnost', 'misto')->adresa}</td>
                    <td>
                        <a n:href="OrderedCourse:listAttendees, id => $course->id" title="Zobrazit účastníky">
                            {$course->related('prihlaseni', 'kurz')->count('*')}/{$course->kapacita}
                        </a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
{/block}
