{layout ""}
{var today => new \DateTime}

<!doctype html>
<html>
<head>
    {control css}
    <link rel="icon" href="{$baseUrl}/favicon.png">
    <title>Certifikát o absolvování kurzu</title>
    <style n:syntax="double">
        h1, h2, h3, h4 {
            margin-top: 20px;
            margin-bottom: 0;
        }
        h5 {
            margin-top: 150px;
        }
        body {
            text-align: center;
        }
        #certifikat {
            margin: 0 auto;
            width: 400px;
        }
    </style>
</head>
<body>
<div id="certifikat">
    <h1>Certifikát</h1>

    <h4>O absolvování kurzu</h4>

    <h2>{$course->nazev}</h2>

    <h4>Pro</h4>

    <h3>{$attendee->jmeno}</h3>

    <h5>{$today|date:'j. n. Y'}</h5>
</div>
</body>
</html>
