{block content}
    <h1 n:block="title">Seznam firem</h1>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>IČO</th>
            <th>Jméno</th>
            <th>Aktivní</th>
            <th>Akce</th>
        </tr>
        </thead>
        <tbody>
        {foreach $companies as $company}
            <tr>
                <td>{$company->ico}</td>
                <td>{$company->nazev}</td>
                <td><input type="checkbox" n:attr="checked => (bool)$company->aktivni" readonly disabled></td>
                <td>
                    {if $user->isAllowed('Company', 'edit')}
                        <a n:href="Company:edit, id => $company->ico">Editovat</a>
                    {/if}
                </td>
            </tr>
        {/foreach}
        </tbody>
    </table>
{/block}
