{block content}
<h1 n:block="title">Výpis lektorů</h1>

<table n:if="$employees" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Aktivní</th>
            <th>Akce</th>
        </tr>
    </thead>
    <tbody>
        {foreach $employees as $employee}
            <tr>
                <td>{$employee->jmeno}</td>
                <td><input type="checkbox" n:attr="checked => (bool)$employee->aktivni" readonly disabled></td>
                <td>
                    {if $user->isAllowed('Attendee', 'edit')}
                        <a n:href="Employee:edit, rc => $employee->rc">Editovat</a>
                    {/if}
                </td>
            </tr>
        {/foreach}
    </tbody>
    </table>
{/block}
