@import "bootstrap-loader.less";

@icon-font-path: '/css/bootstrap/fonts/';

@navbar-default-border: #e55811;
@btn-primary-bg: #e55811;
@link-color: #e55811;

body {
  padding-top: @navbar-height + 0px;
}

a {
  cursor: pointer;
}

#banner {
  position: relative;
  img {
    width: 100%;
  }
  .overlay {
    background: url('../images/overlay.png');
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .container {
    position: relative;
    #name {
      color: #f4651f;
      bottom: 20px;
      font-size: 40px;
      position: absolute;
    }
  }
}

#content {
  min-height: 200px;
}

td.price {
  white-space: nowrap;
}

#footer {
  margin-top: 30px;

  .well {
    margin-bottom: 0;
  }
}

#menu.navbar-fixed-top {
  #gradient.vertical(#e55811, #f4651f);

  .navbar-header {
    a.navbar-brand {
      color: #fff;
      text-shadow: #999 1px 1px 3px;
      text-transform: uppercase;
      &:hover {
        text-shadow: #454545 2px 1px 1px;
        transition-property: text-shadow;
        transition-duration: 200ms;
      }
    }
  }

  .navbar-nav {
    li {
      .active > a, &:hover > a {
        text-shadow: #454545 2px 1px 1px;
        transition-property: text-shadow;
        transition-duration: 200ms;
      }
      > a {
        color: #fff;
        font-weight: bold;
        text-shadow: #999 1px 1px 3px;
        text-transform: uppercase;
      }
    }
  }
}

#ajax-spinner {
  background: white url('./images/spinner.gif') no-repeat 50% 50%;
  display: none;
  font-size: 0;
  margin: 15px 0 0 15px;
  padding: 13px;
  z-index: 123456;
}

label.required {
  &:before {
    color: #f00;
    content: '*';
    font-size: 20px;
  }
}
