{block content}
    <div class="row">
        <div class="col-md-7">
            <h1 n:block="title">Přihlásit se</h1>

            {control signInForm}
        </div>
        <div class="col-md-5" id="users">
            <h2>Nápověda <span>(stačí kliknout na roli)</span></h2>

            <h6><a>Středisko</a></h6>
            <ul data-role="stredisko" data-username="9005049878" data-password="123456">
                <li>rč: 9005049878</li>
                <li>heslo: 123456</li>
            </ul>

            <h6><a>Firma</a></h6>
            <ul data-role="firma" data-username="123456789" data-password="123456">
                <li>ičo: 123456789</li>
                <li>heslo: 123456</li>
            </ul>

            <h6><a>Účastník</a></h6>
            <ul data-role="ucastnik" data-username="9209156539" data-password="123456">
                <li>rč: 9209156539</li>
                <li>heslo: 123456</li>
            </ul>

            <h6><a>Zaměstnanec</a></h6>
            <ul data-role="zamestnanec" data-username="9005049878" data-password="123456">
                <li>rč: 9005049878</li>
                <li>heslo: 123456</li>
            </ul>
        </div>
    </div>
{/block}

{block scripts}
    {include #parent}

    <script n:syntax="double">
        $(document).ready(function () {
            var $signForm = $('#frm-signInForm');
            var $loginName = $signForm.find('input[name=username]');
            var $loginPwd = $signForm.find('input[name=password]');
            var $loginRole = $signForm.find('select[name=role]');

            $('#users').on('click', 'a', function () {
                var $ul = $(this).parent('h6').next('ul');
                var role = $ul.data('role');
                var username = $ul.data('username');
                var password = $ul.data('password');

                $loginName.val(username);
                $loginPwd.val(password);
                $loginRole.val(role);

                $signForm.submit();
            });
        });
    </script>
{/block}
