{block content}
    <h1 n:block="title">Výpis lekcí z kurzu {$course->nazev}</h1>

    <table n:if="$lectures" class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Název</th>
                <th>Popis</th>
                <th n:if="$user->isAllowed('Lecture', 'edit')">Editace</th>
            </tr>
        </thead>
        <tbody>
            {foreach $lectures as $lecture}
                <tr>
                    <td>{$lecture->nazev}</td>
                    <td>{$lecture->popis}</td>
                    <td n:if="$user->isAllowed('Lecture', 'edit')">
                        <a n:href="Lecture:edit, id => $lecture->id">Editovat</a>
                    </td>
                </tr>
            {/foreach}
        </tbody>
    </table>
{/block}
